<div class="content-bg js-content-bg"></div>
<div class="content js-content">
  <main>
    <section class="login">
      <form>
        <input type="email" class="login__text-field" name="email" placeholder="Email Address"/>
        <input type="password" class="login__text-field" name="password" placeholder="Password"/>
        <section class="login__buttons">
          <input type="button" class="login__button" value="Login"/>
          <hr class="login__buttons__hr"/>
          <div class="login__buttons__or">or</div>
          <input type="button" class="login__button login__button-facebook" value="Login with Facebook"/>
        </section>
      </form>
    </section>
    <section class="join-section">
      <a href="#" class="login__button login__button-join">Join for Free</a>
    </section>
  </main>
</div>
